In [10]:
n=5
for i in range(n):
  for j in range(i,n-1):
    print(" ",end=" ")
  for j in range(i):
    print("*",end=" ")

  for j in range(i+1):
    print("*",end=" ")
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [26]:
n=5
for i in range(n):
  for j in range(i+1):
    if j%2==0:
      print("1",end=" ")
    else:
      print("0",end=" ")
  print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [27]:
n=5
for i in range(n):
  for j in range(i+1):
    if (i+j)%2==0:
      print("1",end=" ")
    else:
      print("0",end=" ")
  print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [37]:
n=5
for i in range(n):
  for j in range(i):
    print(" ",end=" ")
  for j in range(i,n-1):
    print("*",end=" ")

  for j in range(i,n):
    print("*",end=" ")

  print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [46]:
n=3

for i in range(n):
  num=1
  for j in range(i):
    print(" ",end=" ")
  for j in range(i,n-1):
    print(num,end=" ")
    num+=1

  for j in range(i,n):
    print(num,end=" ")
    num+=1

  print()

1 2 3 4 5
  1 2 3
    1

In [85]:
n=5
for i in range(n):
  for j in range(i):
    print(" ",end= " ")
  for j in range(n+1):
    print(j,end=" ")
  print()

0 1 2 3 4 5
  0 1 2 3 4 5
    0 1 2 3 4 5
      0 1 2 3 4 5
        0 1 2 3 4 5

In [112]:
n=5
k=1
for i in range(n):
  p=k
  for j in range(i+1):
    print(p,end=" ")
    p-=1
  k+=1
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [116]:

n=5

for i in range(n):
  p=2
  for j in range(i+1):
    print(p,end=" ")
    p+=1

  print()

2
2 3
2 3 4
2 3 4 5
2 3 4 5 6

In [176]:
n=5
k=1
for i in range(n):
  p=k
  for j in range(i,4):
    print(" ",end=" ")
  for j in range(i):
    print(p,end=" ")
    p-=1
  k+=1

  q=1
  for j in range(i+1):
    print(q,end=" ")
    q+=1

  print()

        1
      2 1 2
    3 2 1 2 3
  4 3 2 1 2 3 4
5 4 3 2 1 2 3 4 5

In [135]:
n=5
for i in range(n):
  for j in range(i,n-1):
    print(" ",end=" ")
  for j in range(i):
    if  i==n-1 or j==0 :
      print("*",end=" ")
    else:
      print(" ",end=" ")

  for j in range(i+1):
    if  i==n-1 or j==i:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *